.font1{
    font-family: 'Bahiana', cursive;
font-weight: 400;
       
}
.font2{
    font-family: 'Bangers', cursive;
  font-weight: 400;
}
.from3{
    font-family: 'Bigelow Rules', cursive;
    font-weight: 400;
}
.from4{
    font-family: 'Cute Font', cursive;
}
.from5{
    font-family: 'Gemunu Libre', sans-serif;
}
.from6{
    
    font-family: 'Iceland', cursive;
}
.from7{
    font-family: 'Quicksand', sans-serif;
}
.from8{
    font-family: 'Trade Winds', cursive;
}
.from9{
    font-family: 'Tulpen One', cursive;
}
from10{

}